<div class="container">
  <div>
      <table>
        <tr>
          <td>
            <p>A SYNERGIA DESENVOLVEU ESTE NOVO <span> SISTEMA DE GESTÃO DE PROJETOS </span> PARA AGILIZAR E FACILITAR O SEU TRABALHO!</p>
            <p>ACESSE OS DADOS DO CONTRATO, ORÇAMENTOS EXECUTIVOS E RELATÓRIOS GERENCIAIS DE PROJETOS.</p></td>
          <td>
            <%= image_tag('ilustra-abertura-PROJETOS.png') %>
            <div class="logos-bottom">
            <%= image_tag('Synergia_memberTPF1.png') %>
            </div>
          </td>
        </tr>
      </table>
  </div>
</div>
