<div class="container">
  <div>
      <table>
        <tr>
          <td>
            <p>Workshop Dev</p>
            <p>Testes</p></td>
          <td>
          </td>
        </tr>
      </table>
  </div>
</div>
